In [1]:
#import libraries

!pip install kaggle
import kaggle

Collecting kaggle
  Downloading kaggle-1.7.4.5-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: bleach in c:\users\adminuser\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: certifi>=14.05.14 in c:\users\adminuser\anaconda3\lib\site-packages (from kaggle) (2024.2.2)
Requirement already satisfied: charset-normalizer in c:\users\adminuser\anaconda3\lib\site-packages (from kaggle) (2.0.4)
Requirement already satisfied: idna in c:\users\adminuser\anaconda3\lib\site-packages (from kaggle) (3.4)
Requirement already satisfied: protobuf in c:\users\adminuser\anaconda3\lib\site-packages (from kaggle) (3.20.3)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\adminuser\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in c:\users\adminuser\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: requests in c:\users\adminuser\anaconda3\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\adminuser\anaconda3\lib\site-packages (from kaggle) (68.2.2)
Requirement already satisfied: six>=1.10 in c:\users\adminuser\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: text-unidecode in c:\users\adminuser\anaconda3\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in c:\users\adminuser\anaconda3\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\adminuser\anaconda3\lib\site-packages (from kaggle) (2.0.7)
Requirement already satisfied: webencodings in c:\users\adminuser\anaconda3\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: packaging in c:\users\adminuser\anaconda3\lib\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: colorama in c:\users\adminuser\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)
Downloading kaggle-1.7.4.5-py3-none-any.whl (181 kB)
   ---------------------------------------- 0.0/181.2 kB ? eta -:--:--
   ---------------------------------------- 0.0/181.2 kB ? eta -:--:--
   -- ------------------------------------- 10.2/181.2 kB ? eta -:--:--
   -------- ------------------------------ 41.0/181.2 kB 393.8 kB/s eta 0:00:01
   -------------------------------------- - 174.1/181.2 kB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 181.2/181.2 kB 1.1 MB/s eta 0:00:00
Installing collected packages: kaggle
Successfully installed kaggle-1.7.4.5

In [8]:
!kaggle datasets list

ref                                                               title                                                      size  lastUpdated                 downloadCount  voteCount  usabilityRating
----------------------------------------------------------------  --------------------------------------------------  -----------  --------------------------  -------------  ---------  ---------------
rakeshkapilavai/extrovert-vs-introvert-behavior-data              Extrovert vs. Introvert Behavior Data                     15392  2025-05-21 04:26:52.443000          12663        292  1.0
adilshamim8/social-media-addiction-vs-relationships               Students' Social Media Addiction                           7851  2025-05-10 14:38:02.713000          14337        213  1.0
bismasajjad/global-ai-job-market-and-salary-trends-2025           Global AI Job Market & Salary Trends 2025                529004  2025-06-01 07:20:49.537000           3867         60  0.9411765
brendanartley/openfwi-preprocessed-72x72                          OpenFWI Preprocessed 72x72                          22114565718  2025-06-02 17:25:58.957000           3404         52  1.0
palvinder2006/zepto-inventory-dataset                             Zepto Inventory Dataset                                  253115  2025-05-16 06:35:35.313000           1915         22  1.0
chaitu20/ipl-dataset2008-2025                                     IPL Dataset(2008-2025)                                  6688937  2025-06-06 17:04:29.517000            782         23  1.0
siddharth0935/video-game-sales                                    Video Game Sales                                        1991731  2025-06-04 04:26:30.680000           1221         27  1.0
jayaantanaath/student-habits-vs-academic-performance              Student Habits vs Academic Performance                    19512  2025-04-12 10:49:08.663000          41831        712  1.0
shreyasdasari7/top-100-saas-companiesstartups                     Top 100 SaaS Companies/Startups 2025                       5050  2025-05-29 00:22:47.850000            688         23  1.0
adilshamim8/rock-paper-scissors                                   Rock Paper Scissors SXSW: Hand Gesture Detection      210940029  2025-05-28 04:09:22.500000           1147         59  1.0
samanfatima7/2020-2025-google-stock-dataset                       2020-2025 Google Stock Dataset                            50875  2025-06-03 12:17:21.343000            972         22  1.0
atharvasoundankar/ben-10-alien-universe-realistic-battle-dataset  Ben 10 Alien Universe â€”  Realistic Battle Dataset          6801  2025-05-27 09:04:12.257000           1343         68  1.0
youssefelebiary/air-quality-2024                                  Global Air Quality (2024) - 6 Cities                    1842995  2025-05-28 21:17:22.687000           1352         25  1.0
b'atharvasoundankar/taco-sales-dataset-20242025                     \xf0\x9f\x8c\xae Taco Sales Dataset (2024\xe2\x80\x932025)                          28028  2025-05-25 06:39:38.920000           1455         31  1.0              '
sudipde25/global-internet-adoption-trends                         Global Internet Adoption & Digital Growth Analysis     10524093  2025-06-09 18:55:29.033000           1074         21  1.0
dansbecker/melbourne-housing-snapshot                             Melbourne Housing Snapshot                               461423  2018-06-05 12:52:24.087000         181864       1635  0.7058824
atomicd/retail-store-inventory-and-demand-forecasting             Retail Store Inventory and Demand Forecasting           1424032  2025-05-21 10:51:54.783000           2863         34  1.0
jainaru/electric-car-sales-2010-2024                              Electric car sales (2010-2024)                            26302  2025-05-08 07:47:58.893000           4580         59  1.0
b'atharvasoundankar/ai-developer-productivity-dataset               \xf0\x9f\xa7\xa0 AI Developer Productivity Dataset                        5992  2025-05-12 08:29:17.290000           3773        119  1.0              '
zynicide/wine-reviews                                             Wine Reviews                                           53336293  2017-11-27 17:08:04.700000         326591       3738  0.7941176

In [9]:
#download dataset using kaggle api

!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading orders.csv to C:\Users\ADMINUSER

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|##########| 200k/200k [00:00<?, ?B/s]

In [15]:
#export file from zip file

import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip')
zip_ref.extractall() #extract file to dir
zip_ref.close() #close file

In [17]:
#read data from file

import pandas as pd
df = pd.read_csv(r'C:\Users\ADMINUSER\orders.csv')

In [28]:
df.shape

(9994, 16)

In [18]:
df.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order Id          9994 non-null   int64
 1   Order Date        9994 non-null   object
 2   Ship Mode         9993 non-null   object
 3   Segment           9994 non-null   object
 4   Country           9994 non-null   object
 5   City              9994 non-null   object
 6   State             9994 non-null   object
 7   Postal Code       9994 non-null   int64
 8   Region            9994 non-null   object
 9   Category          9994 non-null   object
 10  Sub Category      9994 non-null   object
 11  Product Id        9994 non-null   object
 12  cost price        9994 non-null   int64
 13  List Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount Percent  9994 non-null   int64
dtypes: int64(6), object(10)
memory usage: 1.2+ MB

In [19]:
df.isnull().sum()

Order Id            0
Order Date          0
Ship Mode           1
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [23]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [24]:
df['Ship Mode'].value_counts()

Ship Mode
Standard Class    5962
Second Class      1945
First Class       1538
Same Day           543
Not Available        4
unknown              1
Name: count, dtype: int64

In [29]:
#remove not available, unknown ship mode data 
df = pd.read_csv(r'C:\Users\ADMINUSER\orders.csv', na_values=['Not Available', 'unknown'])

In [30]:
df.shape

(9994, 16)

In [31]:
df.isnull().sum()

Order Id            0
Order Date          0
Ship Mode           6
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [38]:
#rename columns and replace space with underscore

df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(" ", "_")
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [41]:
#add new columns discount, sale price and profit

df['discount']=df['list_price'] * df['discount_percent'] * 0.01
df['sale_price'] = df['list_price'] - df['discount']
df['profit'] = df['sale_price'] - df['cost_price']
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [42]:
df.dtypes

order_id              int64
order_date           object
ship_mode            object
segment              object
country              object
city                 object
state                object
postal_code           int64
region               object
category             object
sub_category         object
product_id           object
cost_price            int64
list_price            int64
quantity              int64
discount_percent      int64
discount            float64
sale_price          float64
profit              float64
dtype: object

In [45]:
#convert order date to datetime

df['order_date'] = pd.to_datetime(df['order_date'], format="%Y-%m-%d")
df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
discount                   float64
sale_price                 float64
profit                     float64
dtype: object

In [46]:
#drop list price, cost price and discount percent

df.drop(columns=['list_price','cost_price','discount_percent'], inplace=True)
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0

In [48]:
#load the data into sql server

import sqlalchemy as sal
engine = sal.create_engine('mssql://DESKTOP-T0IMGJF\SQLEXPRESS/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn = engine.connect()
df.to_sql('df_orders', con=conn, index=False, if_exists='replace')

38